<ion-header>
  <ion-toolbar>
    <ion-title>Judy's Rentals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Berkeley, CA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="https://redtricom.files.wordpress.com/2018/03/berkeley-airbnb.jpg">
          3 Bed | 1.5 Bath | 6 Guests | 5 Stars
          <br><br>
          A quiet Oasis in the hidden hills of Berkeley. A short stroll to Downtown Berkeley, public transportation, shops, restaurants, and entertainment accessible.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>San Francisco, CA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="https://i.pinimg.com/originals/0b/f0/84/0bf084f50dd44bb10cf49e4aa7639ded.jpg">
          Studio | 1 Bath | 3 Guests | 4.9 Stars
          <br><br>
          Explore San Francisco while staying at a cute, quirky studio at the heart of Market St, San Francisco. Shopping centers, restaurants in a close walking distance. Bart transportation is a block away. 
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Oakland, CA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="https://ap.rdcpix.com/2465589954/54f05a765dd3f01b6c2ba69989c24f16l-m0xd-w1020_h770_q80.jpg">
          4 Bed | 2.5 Bath | 8 Guests | 5 Stars
          <br><br>
          A beautifully renovated home in Oakland. Lake Merrit is only a short walk away. Nights are alive with music and bright twinkling lights. Enjoy a safe and quiet home in the liveliest part of the city. 
        </ion-card-content>
    </ion-card>

    
    <ion-button (click)="navToProfile()">Profile</ion-button>

</ion-content>
