<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<div class="ion-padding"></div>
  <ion-avatar>
    <img src="https://ixxidesign.azureedge.net/media/1676691/0103-82-Mickey-Mouse-animation-08.jpg?mode=max&width=562&height=562">
  </ion-avatar>

  <h1>Hi, Judy!</h1>

<ion-content>
  
  <h3 style="font-size: small">Bio:</h3>
  <h2 style="font-size: medium">I live in sunny California! Please look at my page for cute, quirky homes throughout the Bay Area!</h2>
  
  
  <ion-button (click)="navToRentals()">Current Rentals</ion-button>
  <ion-button (click)="navToNew()">New Listing</ion-button>

</ion-content>
