<ion-header>
  <ion-toolbar>
    <img src="http://static.dezeen.com/uploads/2014/07/Airbnb-rebrand-by-DesignStudio_dezeen_468_8.jpg">
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<h1 style="font-size: medium">Login</h1>
<ion-content>
  <div class="ion-padding">
   
        <ion-input placeholder="Username"></ion-input>
        <ion-input placeholder="Password"></ion-input>
        <ion-button (click)="navToProfile()">Login</ion-button>
    
    
    <p style="font-size: x-small">   Don't have an account?
      <br>
        <ion-button (click)="navToRegister()">Register</ion-button>
    </p>

  </div>
</ion-content>
